<header class="site-cover">
	{include image.latte id => $cover, class => site-cover-background}
	<div class="container site-cover-container">
		{include headline.latte}
		<a class="site-cover-logo" href="/">
			{include shape.latte name => logo}
		</a>
	</div>
</header>
