<div class="headline">
	{$navigations[main-nav][header]|noescape}
	{*<form action="" class="headline-item search-form">
		<input type="text" class="search-form-input">
		<input type="submit" class="search-form-button button">
	</form>*}
</div>
