<div class="headline">
	<header class="headline-item site-header">
		<a href="{home_url()}">
			<h1 class="site-header-title"><strong>Mládež ČCE</strong></h1>
		</a>
	</header>
	{$navigations[main-nav][header]|noescape}
	<form action="" class="headline-item search-form">
		<input type="text" class="search-form-input">
		<input type="submit" class="search-form-button button">
	</form>
</div>
