.event
	position relative
	background-color $c-blank
	margin 0
	border 1px solid $c-border
	border-bottom none
	padding 1rem 1.6rem
	transition box-shadow 500ms

	&.view-last
		border-bottom 1px solid $c-border
		margin-bottom 0.4em

	&-content
		padding-left 0.4rem

	&-title
		margin-left -0.4rem

	&-day
		margin 1rem 0

	&-separator
		display flex
		align-items center
		margin 1rem 0 0.5rem

		&:before
		&:after
			content ''
			display inline-block
			size 100% 1px
			background $c-border

		span
			color $text-color-light
			margin 0 0.5em

	&-link
		display block
		color $text-color

	&-thumb
		size 100% auto
		background-color alpha($c-main, 10%)
		margin 0

		@extend $background-image

		&-img
			width 100%
			height auto

	&-box
		@extend $clearfix

	&-title
		display inline-block
		position relative
		font-size 2.6rem
		font-weight normal
		letter-spacing 0.02em
		margin-top 0
		margin-bottom 0.2em

	&-place
		color $text-color
		margin 0
		font-weight normal
		font-size 1rem

	&-tags
		font-size 0.8rem
		margin-top 0.2rem

		&-item
			color gray
			margin-right 0.5em


	&-date
		margin-bottom 0.5em

		&.view-light
			opacity 0.1

	@media $break.s
		&-link
			&:hover
				text-decoration none

		&.view-first
			&:after
				content ''
				display block
				absolute left -1.04rem bottom 2.4rem
				size 2rem
				transform rotate(45deg)
				background-color $c-blank
				border-bottom 1px $c-border solid
				border-left @border-bottom
				transition box-shadow 500ms

		&:hover
			box-shadow 0 0 10px $c-border

		&-box
			display flex

		&-date
			absolute left -6em
			float left
			text-align center
			margin-right 1.6rem
			transition color 300ms

			&-day
				display block
				color gray
				font-size 3.5rem
				line-height 0.8em

