.event
	position relative
	background-color $c-blank
	border-top 1px $c-border solid
	border-left @border-top
	border-right @border-top
	transition box-shadow 500ms

	&.view-first
		border-radius $radius $radius 0 0

	&.view-last
		border-radius 0 0 $radius $radius
		border-bottom 1px $c-border solid

	&-day
		margin 1rem 0
		box-shadow 0 0 1px #aaa

	&-separator
		display flex
		align-items center
		margin 1rem 0 0.5rem

		&:before
		&:after
			content ''
			display inline-block
			size 100% 1px
			background $c-border

		span
			color $text-color-light
			margin 0 0.5em

	&-link
		display block
		padding 0.3rem

	&-thumb
		size 100% auto
		background-color alpha($c-main, 10%)
		margin 0

		@extend $background-image

		&-img
			width 100%
			height auto

	&-date
		color $c-second

	&-box
		padding 1rem 1.6rem 0.3rem

		@extend $clearfix

	&-title
		display inline-block
		position relative
		color $text-color
		font-size 1.6rem
		letter-spacing 0.02em
		margin-top 0
		margin-bottom 0.2em

	&-place
		color $text-color
		margin 0
		font-weight normal
		font-size 1rem

	&-tags
		font-size 0.8rem
		margin-top 0.2rem

		&-item
			color gray
			margin-right 0.5em


	&-date
		color $c-main
		margin-bottom 0.5em

		&-day
			font-weight bold

		&.view-light
			opacity 0.1

	@media $break.s
		&-link
			&:hover
				text-decoration none

		&:before
			content ''
			display block
			absolute left -2.7rem bottom 2.7rem
			size 0.5rem
			background-color $c-timeline
			border-radius 50%

		&:after
			content ''
			display block
			absolute left -1.04rem bottom 2.4rem
			size 2rem
			transform rotate(45deg)
			background-color $c-blank
			border-bottom 1px $c-border solid
			border-left @border-top

		&:hover
			z-index 10
			box-shadow 0 0 10px #999

		&:hover &
			&-title
				text-decoration underline
				text-decoration-skip ink


	&-box
		display flex

	&-date
		float left
		text-align center
		margin-right 1.6rem
		color $text-color
		transition color 300ms

		&-day
			display block
			color $c-main
			font-size 2.5rem
			font-weight bold
			line-height 0.8em

