$margin = 0.1em

.label
	position relative
	display inline-block
	color $text-color
	text-align  center
	margin $margin 1em $margin 0

	&-container
		margin-left ($margin * -1)
		margin-right @margin-left

	&:before
		content ''
		display block
		absolute bottom 0 left 0
		transform translateY(-50%)
		size 0 1px
		background-color $text-color
		transition width 300ms

	&:hover
		&:before
			width 100%
