$margin = 2px

.label
	display inline-block
	background-color $c-blank
	color $c-main
	font-size 0.9rem
	font-weight bold
	text-align  center
	margin $margin 0
	padding 0.2em 0.6em
	border 2px solid $c-border
	transition background-color 300ms, color 300ms

	@extend $box-shadow

	&-container
		margin-left ($margin * -1)
		margin-right @margin-left

	@media $break.s
		&:hover
			background-color $c-main
			color $c-blank
