.new
	position relative
	display flex
	align-items flex-end
	min-height 100px
	margin 0 0 10px
	height 7.5rem
	transition box-shadow 500ms

	@extend $background-image

	&.view-higher
		height 12rem

	&-content
		padding 0.5rem

	&-title
		display inline
		font-weight normal
		line-height 1.2em

	&-date
		absolute bottom 0.5rem right 0.5rem
		font-size 0.6rem
		margin 0
		padding-right 0.2em
		padding-left 0.2em

	&-title
	&-date
		background-color $c-blank

	&:hover
		box-shadow 0 0 10px gray

