.site-cover
	position relative
	padding-bottom 2.5rem

	&-container
		margin-top 0 !important

	&-background
		absolute top 0 right 0 left 0
		z-index -1
		object-fit cover
		size 100% 100%

	&-logo
		display block
		max-width 30rem
		height 5rem
		margin-top 1.2rem

		.shape
			size 100% 100%

	@media $break.s
		min-height 25rem

		&-logo
			height 8rem
			max-width 40rem
