.site-nav
	margin 0 1rem
	.menu-item
		display inline-block

		a
			display block
			padding 1em 0.8em
			transition color 200ms, background-color 100ms
			border-bottom 4px solid transparent
			transition border 200ms

			&:hover
			.view-active &
				border-bottom 4px solid $c-main
