.title
	margin-top 0
	margin-bottom @margin-top
	letter-spacing 0.05em

	&.view-main
		font-size 2.5em

	.view-color-first &
		color $c-first

	.view-color-second &
		color $c-second

	.view-color-third &
		color $c-third

	strong
		display block
