.title
	color $text-color
	letter-spacing 0.05em

	&.view-main
		font-size 2.5em

	&.view-section
		display flex
		align-items center
		white-space nowrap
		font-weight normal
		font-size 1.2rem
		color $text-color-light

		&:after
			content ''
			display block
			size 100% 1px
			margin-top 0.2em
			margin-left 0.2em
			background-color $c-border

		&.view-first
			margin-top 0

			&:after
				display none

	&-icon
		margin-right 0.5em

	strong
		display block
