#
# Requires MetaBox plugin: http://metabox.io/
#

register:
	data:
		title: Podrobnosti
		context: side
		post_types:
			- event
		fields:
			start:
				name: Začátek
				type: date
			end:
				name: Konec
				type: date
				desc: 'Jeli akce jednodenní, nech prázdné.'
			place:
				name: Místo
				type: text

	contacts:
		title: Kontakty
		context: side
		post_types:
			- event
		fields:
			web:
				name: Web
				type: url
			fb_event:
				name: 'Facebook událost'
				type: url
			register_link:
				name: 'Odkaz na přihlašování'
				type: url

	more_info:
		title: 'Více informací'
		context: side
		post_types:
			- event
		fields:
			web:
				name: Web
				type: url
			fb_event:
				name: 'Facebook událost'
				type: url

	u_contacts:
		title: Kontakty
		context: side
		post_types:
			- unit
		fields:
			web:
				name: Web
				type: url
			fb:
				name: Facebook
				type: url

	related_links:
		title: Odkazy
		context: normal
		templates:
			- front-page
		fields:
			links:
				type: group
				clone: true
				sort: true
				fields:
					name:
						name: Název
						type: text
					description:
						name: Popis
						type: textarea
					link:
						name: Odkaz
						type: url
