defaults:
	show_admin_column: true
	show_ui: true
	show_in_menu: true

register:
	organizer:
		label: Pořadatel
		post_types:
			- event
			- news

	tag:
		label: Štítky
		post_types:
			- event
			- news
