.site-footer
	padding-top 0.2rem
	padding-bottom 2rem
	margin-top 8rem
	border-top 1px solid $c-border

	&-title
		color $text-color !important
		font-weight bold
		margin-top 1em
		margin-bottom 0.6em

