{extends @layout.latte}

{block #content}
	<div class="row">
		<div class="yeah-2">{$navigations[main-nav]|noescape}</div>
		<div class="yeah-8">
			{block main}{/block}
		</div>
		<div class="yeah-2"></div>
	</div>
